@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


.manrope-normal {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main{
    width: 580px;
    height: 600px;

    
}
.first{
    width: 433px;
    height: 233px;
    background-color: white;
    filter: brightness(80%) blur(1px) contrast(90%) ;
    border-radius: 8px;
    margin-top: 50px;
    z-index: 0;
}
.second{
    width: 433px;
    height: 233px;
    background-color: white;
    border-radius: 8px;
    margin-top: 50px;
    filter: brightness(90%) ;
    z-index: 1;
}